<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>BPD Analisis</title>
    <!-- <link
      rel="shortcut icon"
      type="image/png"
      href="{{ url_for('static', filename='assets/images/logos/favicon.png') }}"
    /> -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='assets/css/main.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='assets/css/styles.min.css') }}"
    />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" />

    <!-- Include DataTables CSS -->
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.datatables.net/2.0.7/css/dataTables.bootstrap5.css"
    />
  </head>

  <body>
    <div class="loading-overlay z-3" id="loadingOverlay" style="z-index: 9999;">
      <div class="loading-spinner"></div>
    </div>

    <!--  Body Wrapper -->
    <div
      class="page-wrapper"
      id="main-wrapper"
      data-layout="vertical"
      data-navbarbg="skin6"
      data-sidebartype="full"
      data-sidebar-position="fixed"
      data-header-position="fixed"
    >
      <!-- Sidebar Start -->
      {% include 'layouts/sidebar.html' %}
      <!--  Sidebar End -->
      <!--  Main wrapper -->
      <div class="body-wrapper">
        <!--  Header Start -->
        {% include 'layouts/navbar.html' %}
        <!--  Header End -->
        <div class="container-fluid">
          {% block content %} {% endblock %} {% include 'layouts/footer.html' %}
        </div>
      </div>
    </div>
    <script src="{{ url_for('static', filename='assets/libs/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/sidebarmenu.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/app.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/dashboard.js') }}"></script>
    <!-- Include DataTables JS -->
    <script src="https://cdn.datatables.net/2.0.7/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/2.0.7/js/dataTables.bootstrap5.js"></script>
    {% block scripts %}{% endblock %}

    <script>
      // script.js
      document.addEventListener('DOMContentLoaded', function() {
        var loadingOverlay = document.getElementById('loadingOverlay');
        var data = document.getElementById('data');
  
        // Tampilkan loading overlay saat halaman dimuat
        loadingOverlay.style.display = 'block';
  
        // Semua sumber daya telah dimuat, sembunyikan loading overlay dan tampilkan data
        window.addEventListener('load', function() {
            loadingOverlay.style.display = 'none';
            data.style.display = 'block';
        });
      });
  
      document.getElementById("form-post").addEventListener("submit", function() {
        document.getElementById("loadingOverlay").style.display = "block";
      });
    </script>
    
    <script>
      new DataTable('#dataTable');
    </script>
  </body>
</html>
