<aside class="left-sidebar">
  <!-- Sidebar scroll-->
  <div>
    <div class="brand-logo d-flex align-items-center justify-content-between">
      <h1 class="brand-title">BPD Prediction</h1>
      <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
        <i class="ti ti-x fs-8"></i>
      </div>
    </div>
    <!-- Sidebar navigation-->
    <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
      <ul id="sidebarnav">
        <li class="sidebar-item">
          <a class="sidebar-link" href="/" aria-expanded="false">
            <span>
              <i class="fa-solid fa-house-chimney fa-xl"></i>
            </span>
            <span class="hide-menu">Home</span>
          </a>
        </li>

        <li class="sidebar-item">
          <a class="sidebar-link" href="/data" aria-expanded="false">
            <span>
              <i class="fa-solid fa-table fa-xl"></i>
            </span>
            <span class="hide-menu">Data</span>
          </a>
        </li>

        <li class="sidebar-item">
          <a class="sidebar-link" href="/latih-model" aria-expanded="false">
            <span>
              <i class="fa-solid fa-flask-vial fa-xl"></i>
            </span>
            <span class="hide-menu">Latih Model</span>
          </a>
        </li>

        <li class="sidebar-item">
          <a class="sidebar-link" href="/analisis" aria-expanded="false">
            <span>
              <i class="fa-solid fa-chart-line fa-xl"></i>
            </span>
            <span class="hide-menu">Analisis</span>
          </a>
        </li>
       
      </ul>
    </nav>
    <!-- End Sidebar navigation -->
  </div>
  <!-- End Sidebar scroll-->
</aside>