{% extends 'layouts/main.html' %} {% block title %} Pressure PRO - Latih Model
{% endblock title %} {% block content %}
<!-- Row 1 -->
<div class="row">
  <div class="col">
    <h1>Latih Model</h1>
  </div>
</div>

<!-- Card Section -->
<div class="card mt-4">
  <div class="card-body">
    <div class="row justify-content-center">
      <div class="col">
        <form
          id="form-post"
          action="/latih-model"
          method="post"
          enctype="multipart/form-data"
        >
          <!-- Submit button -->
          <div class="form-group row mt-4">
            <div class="col text-center">
              <button type="submit" class="btn btn-primary">Mulai latih</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- data 3 bulan -->
<div class="card mt-4">
  <div class="card-body">
    <h2>Data 3 Bulan</h2>
    {% if data_test_3 %}
    <div class="d-flex justify-content-center">
      
    </div>
    {% else %}
    <p class="text-center text-gray">Tidak ada data</p>
    {% endif %}
  </div>
</div>

<!-- hasil train model -->
<div class="card mt-4">
  <div class="card-body">
    <div class="row justify-content-center">
      <div class="col">
        <h2>Hasil</h2>
        <div class="table-responsive">
          <table id="dataTable" class="table table-bordered table-striped">
            <thead class="table-dark">
              <tr>
                <!-- <th>Tanggal</th> -->
                <th>Lot Number</th>
                <th>Production Order</th>
                <th>Temperature Mini Tank</th>
                <th>Temperature Nozzle</th>
                <th>Temperature Nozzle Filler</th>
                <th>Value</th>
                <th>Reject</th>
                <th>Prediksi Reject</th>
              </tr>
            </thead>
            <tbody>
              {% if data %}
              {% for row in data %}
              <tr>
                <!-- <td>{{ row['tanggal'] }}</td> -->
                <td>{{ row['lotno2'] }}</td>
                <td>{{ row['prod_order2'] }}</td>
                <td>{{ row['temp_mini_tank'] }}</td>
                <td>{{ row['temp_nozzle'] }}</td>
                <td>{{ row['temp_nozzle_filler'] }}</td>
                <td>{{ row['value'] }}</td>
                <td>{{ row['reject'] }}</td>
                <td>{{ row['prediksi_reject'] }}</td>
              </tr>
              {% endfor %}
              {% endif %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>



{% endblock content %}
