{% extends 'layouts/main.html' %} {% block title %} Pressure PRO - Latih Model
{% endblock title %} {% block content %}
<!-- Row 1 -->
<div class="row">
  <div class="col">
    <h1>Latih Model</h1>
  </div>
</div>

<!-- Card Section -->
<div class="card mt-4">
  <div class="card-body">
    <div class="row justify-content-center">
      <div class="col">
        <form
          id="form-post"
          action="/latih-model"
          method="post"
          enctype="multipart/form-data"
        >
          <!-- Submit button -->
          <div class="form-group row mt-4">
            <div class="col text-center">
              <button type="submit" class="btn btn-primary">Mulai latih</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- hasil train model -->
<div class="card mt-5">
  <div class="card-body">
    <div class="row justify-content-center">
      <div class="col">
        <h2>Hasil Latih Model</h2>
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Learning Rate</th>
                <th>Max Depth</th>
                <th>Number of Estimators</th>
                <th>Gamma</th>
                <th>ColSample Bytree</th>
                <th>Subsample</th>
                <th>Reg Alpha</th>
                <th>Reg Lambda</th>
                <th>Minimum Child Weight</th>
                <th>MAPE</th>
              </tr>
            </thead>
            <tbody>
              {% if optimized_params %}
              <tr>
                <td>{{ optimized_params.best_params_.learning_rate }}</td>
                <td>{{ optimized_params.best_params_.max_depth }}</td>
                <td>{{ optimized_params.best_params_.n_estimators }}</td>
                <td>{{ optimized_params.best_params_.gamma }}</td>
                <td>{{ optimized_params.best_params_.colsample_bytree }}</td>
                <td>{{ optimized_params.best_params_.subsample }}</td>
                <td>{{ optimized_params.best_params_.reg_alpha }}</td>
                <td>{{ optimized_params.best_params_.reg_lambda }}</td>
                <td>{{ optimized_params.best_params_.min_child_weight }}</td>
                <td>{{ mape }}</td>
              </tr>
              {% else %}
              <tr>
                <td colspan="5" class="text-center">No results to display</td>
              </tr>
              {% endif %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
