{% extends 'layouts/main.html' %}

{% block title %}
Pressure PRO - Analisis
{% endblock title %}

{% block content %}
<!--  Row 1 -->
<div class="row">
  <h1>Analisis</h1>
</div>
<div class="card mt-4">
  <div class="card-body">
    <form id="form-post" action="/analisis" method="post" enctype="multipart/form-data">

      <div class="form-group mx-auto mt-3" style="max-width: 400px">
        <small id="alert" class="form-text text-danger" style="display: none">Format anda belum sesuai!
        </small>
        <div class="custom-file">
          <input type="file" class="form-control text-start" id="data_uji" name="data_uji" required />
          <label class="custom-file-label" for="data_uji">Unggah file</label>
          <!-- Format dokumen -->
          <small id="formatDokumen" class="form-text text-muted">Format dokumen yang diterima: .csv
          </small>
        </div>
      </div>
      <div class="text-center">
        <button type="submit" class="btn btn-success btn-md">Proses</button>
      </div>
    </form>
  </div>
</div>

<!-- hasil analisis -->
<div class="card mt-4">
  <div class="card-body">
    <div class="row justify-content-center">
      <div class="col">
        <h2>Hasil Analisis</h2>
        <div class="table-responsive">
          <table id="dataTable" class="table table-bordered table-striped">
            <thead class="table-dark">
              <tr>
                <!-- <th>Tanggal</th> -->
                <th>Lot Number</th>
                <th>Production Order</th>
                <th>Temperature Mini Tank</th>
                <th>Temperature Nozzle</th>
                <th>Temperature Nozzle Filler</th>
                <th>Value</th>
                <th>Reject</th>
              </tr>
            </thead>
            <tbody>
              {% if data %}
              {% for row in data %}
              <tr>
                <!-- <td>{{ row['tanggal'] }}</td> -->
                <td>{{ row['lotno2'] }}</td>
                <td>{{ row['prod_order2'] }}</td>
                <td>{{ row['temp_mini_tank'] }}</td>
                <td>{{ row['temp_nozzle'] }}</td>
                <td>{{ row['temp_nozzle_filler'] }}</td>
                <td>{{ row['value'] }}</td>
                <td>{{ row['reject'] }}</td>
              </tr>
              {% endfor %}
              {% endif %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- grafik data hasil analisis -->
{% if plot_url %}
<div class="text-center mt-4">
  <h2>Forecast Plot</h2>
  <img src="data:image/png;base64,{{ plot_url }}" class="img-fluid" alt="Forecast Plot">
</div>
{% endif %}


{% endblock content %} {% block scripts %}
<script>
  function selectModel(modelId) {
    document.getElementById("model").value = modelId;
  }

</script>
{% endblock %}